<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>тест подготовленных xml</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css" />

    <!-- пришлось принудительно ставить @1.5.16 при выходе версии 2.0.0 сломалось -->
    <link href="https://unpkg.com/vuetify@1.5.16/dist/vuetify.min.css" rel="stylesheet" type="text/css" />
    <!--<link href="https://unpkg.com/vuetify/dist/vuetify.css" rel="stylesheet" type="text/css" />-->

    <!--<link href="styles.css" rel="stylesheet" type="text/css" />-->
    <!--<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />-->
    <!--<link href="https://unpkg.com/codemirror/lib/codemirror.css" rel="stylesheet" type="text/css" />-->
</head>
<style>
    [v-cloak] { display: none; }
    .white-space-pre
    {
        font-family: monospace;

        /*white-space: pre;*/
        white-space: pre-wrap;

        overflow-x: scroll;

        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
    }
    .CodeMirror {
        border: 1px solid #eee;
        height: auto;
    }    
</style>
<body>
    <v-app id="app" v-bind:dark="v.dark">
        <div v-cloak>
            <v-toolbar dense fixed app>
                <v-toolbar-side-icon dark v-on:click.native.stop="v.nav_drawer.visibleLeft = !v.nav_drawer.visibleLeft"></v-toolbar-side-icon>
                <v-speed-dial v-model="v.fab" direction="right" top right>
                    <v-btn slot="activator" color="primary" v-model="v.fab" fab>
                        <v-icon>more_horiz</v-icon>
                        <v-icon>reply</v-icon> <!-- arrow_back_ios arrow_left -->
                    </v-btn>
                    <v-tooltip bottom>
                        <span>Загрузить файлы из директории</span>
                        <v-btn slot="activator" fab color="success" dark v-on:click="loadFromDir"><v-icon>folder</v-icon></v-btn>
                    </v-tooltip>
                    <v-tooltip bottom>
                        <span>Открыть ПАРУ Файлов - Запрос + Ответ</span>
                        <v-btn slot="activator" fab color="warning" dark v-on:click="loadFromFile"><v-icon>filter_2</v-icon></v-btn> <!-- playlist_add -->
                    </v-tooltip>
                    <v-tooltip bottom>
                        <span>Сбросить файлы из рабочего буфера</span>
                        <v-btn slot="activator" fab color="error" dark v-on:click="v.dialogClear = true"><v-icon>delete</v-icon></v-btn>
                    </v-tooltip>
                    <v-tooltip bottom>
                        <span>Расчитать все</span>
                        <v-btn slot="activator" fab v-on:click="calcAll"><v-icon>update</v-icon></v-btn>
                    </v-tooltip>
                </v-speed-dial>
                <v-toolbar-title v-text="title"></v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                    <span>Перейти на страницу обработки одного XML файла запроса</span>
                    <v-btn href="processXml1.html" round slot="activator">запрос-ответ</v-btn>
                </v-tooltip>
                <v-tooltip left>
                    <span>{{showVersions('Vuetify', 'Dexie')}}</span>
                    <v-btn slot="activator" icon v-on:click.native.stop="v.nav_drawer.visibleRight = !v.nav_drawer.visibleRight"><v-icon>settings</v-icon></v-btn>
                </v-tooltip>
            </v-toolbar>

            <v-content>
                <!--<v-container>-->
                <div style="max-width: 100%;">
                    <!-- надо растянуть таблицу по высоте на всю высоту между заголовком и футером -->
                    <v-data-table :headers="tableFiles.headers"
                                  :items="tableFiles.testResponseRequestPairs"
                                  no-data-text="нет данных для отображения"
                                  no-results-text="no-results-text"
                                  hide-actions>
                        <template slot="items" slot-scope="props">
                            <td class="justify-center layout px-0">
                                <v-tooltip right>
                                    <v-btn icon :loading="props.item.isLoading" v-on:click="checkItem(props.item)" slot="activator"><v-icon color="primary">refresh</v-icon></v-btn>
                                    <span>запуск обработки запроса на сервере</span>
                                </v-tooltip>
                                <!--<v-tooltip bottom v-show="props.item.isLoading">
                                    <v-progress-circular indeterminate slot="activator" color="primary"></v-progress-circular>
                                    <span>идёт обработка ...</span>
                                </v-tooltip>-->
                                <v-tooltip right>
                                    <span>открыть окно сравнения</span>
                                    <v-badge slot="activator" overlap color="error" v-model="props.item.diffCount > 0">
                                        <span slot="badge">{{props.item.diffCount}}</span>
                                        <v-btn icon v-on:click="compareItem(props.item)">
                                            <!--<v-icon color="primary">check_circle</v-icon>-->
                                            <v-icon color="primary" v-show="!props.item.responseObj">done</v-icon>
                                            <v-icon color="primary" v-show="!!props.item.responseObj">done_all</v-icon>
                                        </v-btn>
                                    </v-badge>
                                </v-tooltip>
                                <!--<span>{{!!props.item.responseObj}}</span>-->
                            </td>
                            <td class="text-xs-left">{{ props.item.pathToDir }}</td>
                            <td class="text-xs-left">{{ props.item.localNameDoc }}</td>
                            <td class="text-xs-right">{{ props.item.documentID }}</td>
                            <td class="text-xs-left">{{ props.item.refDocumentID }}</td>
                            <td class="text-xs-right">{{ props.item.size }}</td>
                            <td class="text-xs-right">{{ props.item.strLastModified }}</td>
                            <!-- <td class="text-xs-left">{{ props.item.hasRequest }}</td> -->
                        </template>
                    </v-data-table>
                </div>
                <!--</v-container>-->
            </v-content>

            <v-navigation-drawer left absolute temporary :clipped="v.nav_drawer.clipped" v-model="v.nav_drawer.visibleLeft">
                <div>
                    &#11035; &#11036; квадраты &#128997; &#128999; &#129000; &#129001; &#128998; &#129002;
                </div>
                <div>
                    &#9899; &#9898; цв. круги &#9; &#128308; &#128992; &#128993; &#128994; &#128309; &#128995;
                </div>
                <div>
                    <a href="https://emojipedia.org/symbols/" target="_blank">&#78243; emojipedia.org/symbols</a>
                </div>
                <div style="font-size:x-large">
                    &#128336; &#128337; &#128338; &#128339; &#128340; &#128341; &#128342; &#128343; &#128344; &#128345; &#128346; &#128347;
                </div>
                <div style="font-size:xx-large">
                    📄📂💾🖨🔍 ❌⭕
                    ❎✅⏹🔄✔✖ ⏩
                    ◀⏺♻ 💬🗨👁‍🗨📢
                    🔍🔎👓🕶😎🥛
                    📝🔑🔨🛃
                    ▶️▶⏩◀️🔽🔻🇷🇺
                    ⭐🍁🌎🌍🌏🌐📞
                    📶📱⏲️🆓🛑
                </div>
                <!-- https://unicode-table.com/en/blocks/  https://www.w3schools.com/charsets/ref_emoji.asp -->
            </v-navigation-drawer>

            <v-navigation-drawer right absolute temporary mini-variant v-model="v.nav_drawer.visibleRight">
                <v-btn fab color="secondary" v-on:click.native.stop="v.dark = !v.dark"><v-icon>invert_colors</v-icon></v-btn>
                <!--<v-spacer></v-spacer>-->
                <v-divider></v-divider>
                <v-btn icon href="t2.html"><v-icon>looks_two</v-icon></v-btn>
                <v-btn icon href="get/extjs/guarantee">extjs</v-btn>
            </v-navigation-drawer>

            <v-dialog v-model="v.dialogCompare" scrollable persistent>
                <v-card>
                    <v-card-title class="info">
                        <v-tooltip bottom>
                            <span>Сравнение XML ответов службы. Эталонный и Текущий</span>
                            <span class="title" slot="activator">{{tableFiles.selectedItem.pathToDir}}</span>
                        </v-tooltip>
                        <v-spacer></v-spacer>
                        <v-tabs color="transparent" v-model="v.dialogCompareTab">
                            <v-tab href="#ТаблицаРазличий">Таблица различий</v-tab>
                            <v-tab href="#СравнениеОтветов">Сравнение ответов</v-tab>
                            <v-tab href="#Запрос">Запрос</v-tab>
                        </v-tabs>
                        <!--<v-btn icon color="primary" v-on:click.native="v.dialogCompare = false"><v-icon>close</v-icon></v-btn>-->
                        <v-icon v-on:click="v.dialogCompare = false">cancel</v-icon><!-- close -->
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text style="min-height:640px">
                        <!-- чтобы не сжималось когда мало строк -->
                        <v-tabs-items v-model="v.dialogCompareTab">
                            <v-tab-item id="ТаблицаРазличий">
                                <v-container grid-list-md text-xs-center fluid class="px-0 py-0">
                                    <v-layout row wrap>
                                        <v-flex xs12 style="min-height:640px">
                                            <!-- чтобы не сжималось когда мало строк -->
                                            <v-data-table hide-headers
                                                          :items="tableFiles.selectedItem ? (tableFiles.selectedItem.diff_items || []) : []"
                                                          no-data-text="нет данных для отображения"
                                                          no-results-text="no-results-text"
                                                          hide-actions>
                                                <template slot="items" slot-scope="props">
                                                    <td class="text-xs-left">{{ props.item.path }}</td>
                                                    <td class="text-xs-right elevation-0">{{ props.item.val1 }}</td>
                                                    <td class="text-xs-left">{{ props.item.val2 }}</td>
                                                    <td>{{ props.item.in1 }}</td>
                                                    <td>{{ props.item.in2 }}</td>
                                                </template>
                                            </v-data-table>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-tab-item>
                            <v-tab-item id="СравнениеОтветов">
                                <v-container grid-list-md text-xs-center fluid class="px-0 py-0">
                                    <v-layout row wrap>
                                        <v-flex xs6>
                                            <div class="caption">Эталонный ответ-образец</div>
                                            <div class="text-xs-left white-space-pre elevation-3 px-4">{{tableFiles.selectedItem.strXml}}</div>
                                            <!--<v-card class="elevation-3 px-4">
                                                <v-card-text>
                                                </v-card-text>
                                            </v-card>-->
                                            <!--<v-textarea readonly name="inputLeft" auto-grow outline
                                                label="Эталонный ответ-образец"
                                                :value="tableFiles.selectedItem.strXml"
                                            ></v-textarea>-->
                                        </v-flex>
                                        <v-flex xs6>
                                            <div class="caption">Ответ сервиса текущий</div>
                                            <div class="text-xs-left white-space-pre elevation-3 px-4">{{tableFiles.selectedItem.responseObj ? tableFiles.selectedItem.responseObj.strFormattedXml : 'НЕТ значения responseObj.strFormattedXml'}}</div>
                                            <!--<v-textarea readonly name="inputLeft" auto-grow outline
                                                label="Ответ сервиса текущий"
                                                :value="tableFiles.selectedItem.responseObj ? tableFiles.selectedItem.responseObj.strFormattedXml : 'НЕТ значения responseObj.strFormattedXml'"
                                            ></v-textarea>-->
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-tab-item>
                            <v-tab-item id="Запрос">
                                <v-container grid-list-md text-xs-center fluid class="px-0 py-0">
                                    <v-layout row wrap>
                                        <v-flex xs12 class="text-xs-left">
                                            <!-- style="min-height:640px" style="height:100%" -->
                                            <div class="text-xs-left white-space-pre">{{tableFiles.selectedItem.requestFile ? tableFiles.selectedItem.requestFile.strFormattedXml : 'НЕТ ЗАПРОСА или strFormattedXml'}}</div>
                                            <!--<codemirror
                                                :value="tableFiles.selectedItem.requestFile ? tableFiles.selectedItem.requestFile.strFormattedXml : 'НЕТ ЗАПРОСА или strFormattedXml'"
                                                >
                                            </codemirror>-->
                                            <!--<v-textarea readonly name="inputRequest" auto-grow outline
                                                label="Документ - запрос к сервису"
                                                :value="tableFiles.selectedItem.requestFile ? tableFiles.selectedItem.requestFile.strXml : 'НЕТ ЗАПРОСА'"
                                            ></v-textarea>-->
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-tab-item>
                        </v-tabs-items>
                    </v-card-text>
                </v-card>
            </v-dialog>


            <v-dialog v-model="v.dialogClear" persistent max-width="640">
                <v-card>
                    <v-card-title class="headline">Удалить ранее сохраненные файлы?</v-card-title>
                    <v-card-text>Все ранее загруженные файлы будут удалены из локального хранилища браузера.</v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" flat v-on:click.native="v.dialogClear = false">не удалять</v-btn>
                        <v-btn color="red darken-1" flat v-on:click.native="v.dialogClear = false; clearLocalStorage();">очистить локальное хранилище</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <v-snackbar v-model="v.toast.visible" color="accent" bottom right timeout="5000" multi-line>
                {{ v.toast.text }}
                <v-btn color="primary" icon v-on:click.native="v.toast.visible = false"><v-icon>close</v-icon></v-btn>
            </v-snackbar>

            <!--<v-footer app>-->
            <!--<span>{{status_text}}</span>-->
            <!--<v-spacer></v-spacer>-->
            <!--</v-footer>-->

        </div>
    </v-app>

    <!-- пришлось принудительно ставить @2.6.14 при выходе версии 3.0 сломалось -->
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>

    <!--<script src="https://unpkg.com/vuetify"></script>-->
    <!-- пришлось принудительно ставить @1.5.16 при выходе версии 2.0.0 сломалось -->
    <script src="https://unpkg.com/vuetify@1.5.16/dist/vuetify.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.js"></script>   <!-- https://github.com/axios/axios -->
    <script src="https://unpkg.com/dexie"></script>                 <!-- http://dexie.org/ - обертка над IndexedDb - https://www.npmjs.com/package/dexie -->
    <!--<script src="https://unpkg.com/moment"></script>-->                <!-- https://momentjs.com - манипуляции с датами -->
    <!--<script src="https://unpkg.com/lodash"></script>-->
    <!--<script src="https://unpkg.com/codemirror"></script>-->
    <!--<script src="https://unpkg.com/vue-codemirror-lite/dist/vuecodemirror.min.js"></script>-->

    <!-- https://habr.com/ru/post/479152/ - статья про работу с View без npm -->

    <!-- работа с xml -->
    <script src="xml_str_1.js"></script>

    <!-- основной модуль -->
    <script src="app_vue_1.js"></script>

    <!-- цвета темы - не работает -->
    <script>

        //moment().locale('ru'); // похоже не работает локализация. может чего-то нехватает.

        //function vue_use_vuetify_theme() {
        //    // https://vuetifyjs.com/en/theme-generator
        //    Vue.use(Vuetify, {
        //        theme: {
        //            primary: "#2E7D32",
        //            secondary: "#8D6E63",
        //            accent: "#9c27b0",
        //            error: "#D81B60",
        //            warning: "#FB8C00",
        //            info: "#607D8B",
        //            success: "#00C853"
        //        }
        //    });
        //}

        //vue_use_vuetify_theme(); // не работает установка цветовых тем

        //Vue.use(VueCodeMirror);

        // запуск
        mApp.run();

    </script>

</body>
</html>

