<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Vue test 1</title>
<!--<link rel="stylesheet" type="text/css" href="4.2/ext-theme-classic-all-debug.css"/>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.js"></script>
    <!-- https://vuex.vuejs.org/ru/getting-started.html -->
<!--<script type="text/javascript" src="4.2/locale/ext-lang-ru.js"></script>-->
<!-- <script src="https://unpkg.com/vue"></script>  -->
    <script type="text/javascript" src="app.js" defer></script>

<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->

</head>
<body>
<a target="_blank" href="https://ru.vuejs.org/v2/guide/syntax.html">руководство</a>
<hr/>
<a target="_blank" href="https://proglib.io/p/5-vue-js-examples/">пример</a>
<hr/>
<!-- https://github.com/vuejs/awesome-vue#components--libraries -->

<div id="app">
  {{ message }} 
  <hr/>
  Name (from LocalStorage) <input v-model="name"></input>
  <hr/>

	<div id="div_cats">
	  <h2>Cats</h2>
	  <div v-for="(cat,n) in cats">
	    <p>
            <span class="cat">{{cat}}</span> <button @click="removeCat(n)">Remove</button>
	    </p>
	  </div>
	  <p>
	    <input v-model="newCat"> 
	    <button @click="addCat">Add Cat</button>
	  </p>
	</div>

</div>

</body>
</html>
